version: "2"

services:
  api:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - redis
    environment:
      APP_ENV: development
      REDIS_URL: redis:6379
      REDIS_PASS: chat
      HTTP_PORT: 8080
  redis:
    image: redis:latest
    command: redis-server --requirepass chat
    ports:
      - 6379:6379
